<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:if="${#request.isUserInRole('ADMIN')} OR ${#request.isUserInRole('USER')}"
						th:href="@{/clienteform}" class="btn btn-primary btn-xs">crear
						flujo</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th
								th:if="${#request.isUserInRole('ADMIN')} OR ${#request.isUserInRole('USER')}">id</th>
							<th>User</th>
							<th>Nombres</th>
							<th>detalle</th>
							<th>fecha</th>
							<th>Taller</th>
							<th>Estado/color</th>
							
							<th
								th:if="${#request.isUserInRole('USER')}">Nuevo flujo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="flujo: ${flujo}">
							<td
								th:if="${#request.isUserInRole('ADMIN')} OR ${#request.isUserInRole('USER')}"><a
								class="btn btn-primary btn-xs"
								th:href="@{/vercliente/} + ${flujo.id}"
								th:text="${flujo.id}"></a></td>
							<td th:text="${flujo.taller.cliente.email}"></td>
							<td th:text="${flujo.taller.cliente.nombre}"></td>
							<td th:text="${flujo.taller.descripcion}"></td>
							<td th:text="${flujo.taller.createAt}"></td>	
							<td th:text="${flujo.taller.nombreTaller.nombre}"></td>
							<td th:text="${flujo.estado.nombre}"></td>							
							<td
								th:if="${#request.isUserInRole('USER')}"><a
								class="btn btn-success btn-xs"
								th:href="@{'/flujo/form/' + ${flujo.id}}"
								th:text="'nuevo flujo'"></a></td>
						</tr>
					</tbody>

				</table>

				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>